<button [disabled]="this.setAlarm" class="settingtimebtn" (click)="addHour()">
  +
</button>
<button [disabled]="this.setAlarm" class="settingtimebtn" (click)="subsHour()">
  -
</button>
<span *ngIf="!this.setAlarm && this.doubleDot" class="fixwink">
  - - : - -
</span>
<span
  class="alarmtime"
  *ngIf="this.setAlarm || !this.doubleDot"
  [style.color]="!this.setAlarm ? '#fff' : 'rgb(245, 160, 48)'"
>
  {{ this.alarmHour }}
  :
  {{ this.alarmMinute }}
</span>
<button [disabled]="this.setAlarm" class="settingtimebtn" (click)="addMinute()">
  +
</button>
<button
  [disabled]="this.setAlarm"
  class="settingtimebtn"
  (click)="subsMinute()"
>
  -
</button>
<br />
<br />
<button class="setalarmbtn" *ngIf="!this.setAlarm" (click)="toggleAlarm()">
  Set Alarm
</button>
<div class="alarmenabled" *ngIf="this.setAlarm">
  <h3>
    Your Alarm is
    <span class="sayon">ON</span>
  </h3>
  <br />
  <button class="setalarmbtn" (click)="stopAlarm()">Turn it OFF</button>
</div>
