<button (click)="addHour()">+</button> <button (click)="subsHour()">-</button>
{{ this.alarmHour }} :
{{ this.alarmMinute }}
<button (click)="addMinute()">+</button>
<button (click)="subsMinute()">-</button>
<br />
<br />
<button *ngIf="!this.setAlarm" (click)="toggleAlarm()">Set Alarm</button>
<h4 *ngIf="this.setAlarm && !this.stfuAlarm">
  Alarm enabled
  <button (click)="showCurrentAlarm()">Show current alarm</button>
  <button (click)="toggleAlarm(); showCurrentAlarm()">Disable</button>
</h4>
<button *ngIf="this.setAlarm" (click)="stopAlarm()">Stop</button>
