<h2 class="tasktitre">Manage your Tasks and Time '(^-^)'</h2>
<app-clock></app-clock>
<div class="container">
  <div class="contenu">
    <h3 class="addtitre" *ngIf="showAddTask; else hideTask">
      Hide Task creation fields
    </h3>
    <ng-template #hideTask>
      <h3 class="addtitre">Show Task creation fields</h3></ng-template
    >
    <app-button
      text="{{ showAddTask ? ' - ' : ' + ' }}"
      color="{{ showAddTask ? 'red' : '#8379c3' }}"
      class="btn"
      (btnClickEvent)="toggleAddTask()"
    ></app-button>
  </div>
</div>
<br />
