@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  background-image: linear-gradient(to right, #8379c3, #5c5583);
  border-radius: 20px;
}
.contasks {
  padding: 5px 15px;
  background-color: none;
  background-image: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 46, 78, 0);
}
.unitask:hover {
  transform: translateY(-20px) translateX(5px);
  transition: transform 250ms cubic-bezier(1, 1, 1, 1);
}

.contasks h5 {
  font-family: "Dancing Script", cursive;
  background: none;
}
.unitask {
  color: rgb(245, 160, 48);
  padding: 10px 100px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 27px;
  cursor: default;
}

.unitday {
  background-color: #2f3037;
  background-image: none;
  color: #f9dcc2;
  font-size: small;
}

#donebox {
  cursor: pointer;
  background-image: none;
  color: #8ddb59be;
  padding: 0px 4px;
  margin-top: 1.5px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
#trash {
  color: red;
  font-size: 23px;
  cursor: pointer;
  background: none;
  margin-right: 2px;
}
#reminder-icon {
  cursor: pointer;
  color: rgb(137, 240, 188);
}

.managetask {
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: default;
}

.task-container.reminder {
  background-image: linear-gradient(to right, #8379c3, rgb(137, 240, 188));
}

.unitask.done {
  text-decoration: line-through;
  color: red;
}

.task-container {
  max-width: 800px;
  background: rgba(54, 46, 78, 0);
  padding-right: 250px;
  padding-left: 250px;
  padding-bottom: 20px;
}

.form-container,
.task-container,
.form-label,
.form-hint,
.form-control,
.edit-container,
.cancel-icon,
.sub-btn,
.sub-icon,
input {
  background: #2f3037;
}

.edit-icon,
.cancel-icon {
  cursor: pointer;
}

.form-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-btn {
  border-radius: 50px;
}
