<div
  [ngClass]="{ reminder: task.reminder }"
  class="contasks"
  (dblclick)="toggleReminderClick(task)"
>
  Task : {{ task.id }}
  <h3 [ngClass]="{ done: task.done }" class="unitask">-{{ task.text }}-</h3>
  <span class="managetask">
    <!-- Add Edit button -->
    <h4 class="edit"></h4>
    <i
      id="donebox"
      class="bi bi-check2-circle"
      (click)="toggleProgressionClick(task)"
    ></i>
    <i id="trash" class="bi bi-trash" (click)="onDeleteClick(task)"></i>
  </span>
  <h3 class="unitday">{{ task.day }}</h3>
</div>
