<app-add-task (onAddTaskEvent)="addTask($event)"></app-add-task>
<h3 class="titlelist">Tasks list:</h3>
<!-- Passing props task from parent to child -->
<div
  cdkDropList
  class="dragndrop-container"
  (cdkDropListDropped)="drop($event)"
>
  <app-task-item
    *ngFor="let task of tasks"
    [task]="task"
    (onDeleteEvent)="deleteTask(task)"
    (toggleReminderEvent)="toggleReminder(task)"
    (toggleProgressionEvent)="toggleProgression(task)"
    cdkDrag
    >{{ task }}</app-task-item
  >
</div>
