@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

.titlelist {
  background-color: #2f3037;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Akaya Kanadaka", cursive;
}
