<form (ngSubmit)="onSubmit()" *ngIf="showAddTask">
  <div class="form-control">
    <label for="text"> Task </label>
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Write your task here"
      spellcheck="false"
    />
  </div>

  <div class="form-control">
    <label for="day"> Day&Time </label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add the Day and Time"
      spellcheck="false"
    />
  </div>

  <div class="form-control-check">
    <label for="reminder"> Reminder </label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save New Task" class="btn btn-save" />
</form>
